@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "config/mixins";
@import "config/colors";
@import "config/fonts";
@import "config/base";
@import "config/config";
@import "helpers/**.scss";
@import "components/**.scss";
@import "partials/**.scss";
@import "pages/**.scss";

body {
  font-family: "Poppins", sans-serif;
}
@layer base {
  body {
    font-family: "Poppins", sans-serif;
  }
}

//@layer components {
//  .outlined-btn {
//    @apply rounded-xl border-[1px] border-red-600 px-2 py-1 sm:px-4 sm:py-2 text-red-600 text-base sm:text-lg shadow;
//  }
//
//  .contained-btn {
//    @apply rounded-xl border-[1px] bg-red-600 px-2 py-1 sm:px-4 sm:py-2 text-white text-base sm:text-lg shadow;
//  }
//
//  .outlined-btn:hover {
//    @apply bg-red-700 text-white transition;
//  }
//
//  .contained-btn:hover {
//    @apply bg-red-700 transition;
//  }
//}

tr:nth-child(even) {
  background-color: #fdf8f8;
}

.recharts-legend-item-text {
  padding: 0 5px;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

img,
video {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
